@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;900&display=swap');


*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    font-family: 'roboto slab';

}

header {
    background-color: #66101F;
    
}
header h1 {
    text-align:center;
    margin: 0;
    font-size: 3.5em;
    line-height: 150px;
    color: white;
    font-weight: 900;
}

header nav li{
    text-align: left ;
    display: inline-block;
    font-size:1.5rem ;
    color: white;
    padding: 0px 20px;
}
nav.menu_1{
    background-color:#B8D4E3 ;
}
.menu_1 ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    margin-left: 2.5em;

}
.menu_1 li{
   display: inline-block;
}
.menu_1 a {
    color:black;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    
}
.menu_1 li :hover{
    background-color:#EEFFDB;
    color:#979292;
    font-style: italic;
}

nav.sticky{
    position:sticky;
    top: 0px;

}
#socals_menu{
    list-style-type: none;
    
    display: inline;
}
body{
    font-size: 30px;
    background-color: #979292;
    flex-wrap: wrap;  
}
ul{
    list-style-type: none;
    
}
a{
    text-decoration: none;
    color: white;
    
}
section{
    margin: 20px;
    padding: 20px;
}
footer{ 
    background-color: #EEFFDB;
    width: 100%;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px 30px;
}
.footer  {
    display: inline-block;
}
img{
    max-width: 600px;
    float: left;
    margin: 20px;

}
p{
    margin: 5px;
    padding: 5px;
}
.headers{
    float: right;
    display: flex;
    border: 1px solid black;
}
.pc{
    float: none;
    display: inline-block;
    align-content:center;
    margin: 20px;
}





@media only screen and (max-width: 1050px) {
    #nav_menu ul li a {
	    font-size: .875em;
    }
    section h1 {
	    font-size: 1.5em;
    }
    section h2, aside h2 {
	    font-size: 1.125em;
    }
    section img{
        display: block;
        float: none;
    }
    section h2 {
        display: block;
        float: none;
    }
}


/* mobile landscape to tablet portrait */
@media only screen and (max-width: 767px) {
    #nav_menu {
    	display: block;
    }
    #mobile_menu {
    	display: block;
    }
    body {
	    width: 100%;
	    margin: 0;
	    border: none;
    }
    main {
        flex-direction: column;
    }
    header {
        display: flex;
        text-align: center;
    }
    header, footer {
        flex-wrap: wrap;
        justify-content: center;
    }
    footer p { margin-right: 0;
    }
    header h2, header h3 {
        flex-basis: 100%;
    }
    header h2 {
	    font-size: 1em;
	    margin-left: 0;
    }
    header h3 {
	    font-size: 1em;
	    margin-left: 0;
    }
    header img {
        float: none;
        margin-left: 0;
        margin-bottom: 1em;
        width: 60px;
        height: 52.5px;
    }
    section {
        order: 1;
    }
    section {
	    width: 95%;
    	    margin-right: 2%;
	    padding-right: 0;
    }
    aside {
        order: 2;
	    width: 91.9192%;
        margin: 0 2.0202% 2.0202% 2.0202%;
    }
    img{
        max-width: 500px;
    }
    
    footer ul{
        margin-left:30px;

    }
    footer li{
        margin-left:10px;

    }
}

/* mobile portrait to mobile landscape */
@media only screen and (max-width: 565px) {

    header h2 {
	    font-size: 1.375em;
        max-width: 100%;
        display: flex;
    }
    header h3 {
	    font-size: .8125em;
    }
    header img {
        width: 40px;
        height: 35px;
    }
    p {
	    font-size: .875em;
    }
    section h1, section h2, aside h2 {
	    font-size: 1em;
    }
    section li {
	    font-size: .875em;
    }
    aside h3 {
	    font-size: .9375em;
    }
    footer p {
	    font-size: .6875em;
    }
    img{
        max-width: 300px;
    }
    #socal_menu{
        display: block;
    }
    img{
        margin: 0%;
    }
}
