@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Nunito+Sans:wght@200;400;900&display=swap');* {
    box-sizing: border-box;
    max-width: 100%;
}
body {
    font-family: "Nunito Sans", sans-serif;

}
#container {
    width: 600px;
    margin: 0 auto;
    border: 1px solid black;
    padding: 20px;
}
h1 {
    font-family: 'Luckiest Guy', cursive;
}
h1, h4, address p{
    margin: 0 0 5px 0;

}
address {
    font-style: normal;
}
address p {
    font-size: 18px;
    font-weight: 200;
    display: inline;
}
address a {
    color:black;
    text-decoration: none;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

