* {
    box-sizing: border-box;
    max-width: 100%;
}
#container {
    width: 600px;
    margin: 0 auto;
    border: 1px solid black;
    padding: 20px;
}
h1, h4, address p{
    margin: 0 0 5px 0;
}
address {
    font-style: normal;
}
address p {
    font-size: 18px;
    width: 100%;
    display: inline;
}
address p a {
    color: black;
    text-decoration: none;
}